 /* Content copied from "checkout5-custom.css" at 2019-03-01T05:12:59.334Z */

  /* /files/checkout5-custom.css */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

  /* Displays the option to enter a foreign document */
  .document-box {
    display: block;
}

/* Displays the option to enter an international phone */
.phone-box {
    display: block;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif; 
}

/*header start*/
.header {
    box-shadow: 0px 1px 8px #80808087;
    margin-bottom: 45px;
}

.container_header {
    display: flex;
    justify-content: space-between;
    height: 98px;
    margin: auto;

}

.container_header_image {
    margin: 0 32px;
    width: 190px;
    height: 120px;
    background: #000;
    border-top: 4px solid #2196f3;
    position: relative;
    grid-area: image;
  z-index: 6;


}

.container_header_menu::before {
  content: "";
  position: absolute;
  background-color: #dbdbdb;
  height: 1px;
  width: 250px;
  left: 0;
  top: 41px;
  z-index: -1;

}

.container_header_menu {
    grid-area: title;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    font-size: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    font: 400 16px 'Avenir', sans-serif;
    line-height: 24px;
    padding: 8px 0;
}

.container_header_menu .title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #000000;
    font-size: 13px;
    font-weight: 500;
}

.container_header_menu .svg-icon {
    margin-right: 4px;
    width: 20px;
    height: 20px;
}

.container_header_menu_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    border-bottom: 1px solid #dbdbdb;
}

.container_header_menu_info_parr {
    margin: 0;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_header_menu_info_parr svg {
    margin-right: 10px;
}

.container_header_menu_info_parr span {
    font: 500 13px Poppins, sans-serif;
    color: #000;
}

.container_header_menu_info_parr.info {
    width: calc(100% - 300px);
    display: flex;
    justify-content: flex-start;
}

.container_header_menu_info_parr.links {
    width: 300px;
}

.container_header_menu_info_parr:first-child {
    border: none;
}

.container_header_menu_info_parr_story {
    height: 42px;
    max-width: 100px;
    grid-area: story;
    width: 100px;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}

.container_header_menu_info_parr_story .container_header_menu_info_parr_story__button,
.container_header_menu_info_parr_educators .container_header_menu_info_parr_educators__button {
    display: flex;
    height: 100%;
    align-items: center;
    background: #fff;
    width: 100%;
    justify-content: center;
    color: #000;
    transition: all .3s ease-in-out;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 10px;
}

.container_header_menu_info_parr_educators {
    width: 200px;
    max-width: 200px;
    font-size: 10px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-left: 1px solid #dbdbdb;
    transition: all .3s ease-in-out;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    grid-area: school;
    width: 200px;
    font-size: 10px;
    border-bottom: 1px solid #dbdbdb;
    justify-content: center;
    display: flex;
    align-items: center;
    border-left: 1px solid #dbdbdb;
}
.container_header_menu_info_parr_educators__button::before{
  content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' viewBox='0 0 19 18' class='svg-icon'%3E%3Ctitle%3EGraduation cap%3C/title%3E%3Cpath d='M18.246 4.453L10.132.157a1.349 1.349 0 00-1.264 0L.754 4.453C.29 4.699 0 5.187 0 5.727s.289 1.029.754 1.275l.836.443-.005 3.45c0 .683.283 1.315.78 1.733 2.37 1.993 4.756 2.989 7.14 2.989 1.436 0 2.87-.369 4.3-1.09-.345.577-.742 1.345-.742 1.837 0 .902.71 1.636 1.583 1.636s1.583-.734 1.583-1.636c0-.619-.625-1.672-.989-2.232l.001-.457c.466-.315.933-.657 1.397-1.05a2.241 2.241 0 00.78-1.722l.005-3.466.822-.435c.466-.246.755-.735.755-1.275 0-.54-.289-1.028-.754-1.274zM3.335 11.426a.955.955 0 01-.335-.74L3.005 8l5.937 3.066a1.337 1.337 0 001.23 0L14 9.089l-.004 3.592c-3.562 2.105-7.067 1.693-10.661-1.255zM14.5 16c-.275 0-.5-.14-.5-.31.013-.106.214-.376.5-.69.284.312.485.58.5.689-.003.172-.226.311-.5.311zm1.496-5.248c0 .295-.13.577-.345.751A15.63 15.63 0 0115 12l.004-3.492L16 8l-.004 2.752zm1.893-5.07L14.534 7.42 11.1 5.69c.008-.064.019-.124.019-.189A1.63 1.63 0 009.5 3.864 1.63 1.63 0 007.881 5.5 1.63 1.63 0 009.5 7.136c.386 0 .737-.143 1.015-.372l2.677 1.35-3.599 1.864a.206.206 0 01-.185 0L1.11 5.682a.204.204 0 010-.365l8.297-4.295a.206.206 0 01.185 0l8.297 4.296c.053.027.11.09.11.182s-.057.155-.11.182zM10 5.5a.5.5 0 11-1.002-.002A.5.5 0 0110 5.5z'%3E%3C/path%3E%3C/svg%3E%0A");
  margin: 0 2px;
}

.container_header_menu_info_parr_educators__button:hover,.container_header_menu_info_parr_story__button:hover {
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
}

.container_header_menu_info_parr_story:hover {
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
}

.container_header_menu_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding-left: 254px;
}

.container_header_accounts {
    height: 54px;
    border-left: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: account;
    width: 200px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    border-left: 1px solid #dbdbdb;
}

.container_header_menu_support {
    display: block;
}

.container_header_menu_items_dept {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 200px)
}

.container_header_menu_support {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.container_header_menu_support strong {
    display: block;
    font: 700 14px Poppins, sans-serif;
    line-height: 21px;
    color: #000;
}

.container_header_menu_support span {
    display: block;
    font: 400 14px Poppins, sans-serif;
    line-height: 21px;
    color: #000;
}

/*header end*/
body {
    font-family: 'Avenir', sans-serif;
    background: transparent;
}

.container-cart {
    margin: 30px;
    max-width: fit-content !important;
}

th {
    font-weight: 800;
    font-size: 15px;
    color: #757d83;
}

.product-box-mobile {
    display: flex;
}

h1.heading {
    font-size: 34px !important;
    font-weight: 100 !important;
}

a#product-name2 {
    font-size: 16px;
    font-weight: 900;
}

.table.cart-items tbody tr td.product-price,
.table.cart-items tbody tr td.quantity-price {
    width: auto !important;
}

.total-selling-price {
    font-size: 15px;
    font-weight: 400 !important;
}

.v-custom-product-item-wrap {
    align-items: flex-start !important;
}

.cart-template-holder .cart {
    padding: 0 !important;
}

p.product-name {
    font-weight: 900;
    font-size: 17px;
}

.cart-items .product-name {
    width: auto;
}

.brand {
    display: none;
}

small[data-bind="if: sellerName"] {
    display: none !important;
}

th.items {
    width: calc(100% - 235px) !important;
}

th.unit-price {
    text-align: center;
    min-width: 74px;
}

.table.cart-items thead tr th.quantity {
    order: 3 !important;
}

.table.cart-items tbody tr td.quantity-price {
    display: block !important;
}

td.quantity-price {
    order: 4 !important;
}

.table.cart-items tbody tr td.quantity {
    order: 3 !important;
    margin: 0 !important;
}

td.product-price {
    order: 5 !important;
}

.table.cart-items thead tr th.product-price {
    width: 70px !important;
}

.new {
    display: grid;
    grid-template-columns: 250px auto 100px 200px;
    grid-template-rows: 42px 54px;
    grid-template-areas:
        "image title story school"
        "image menu phone account";
}

@media (max-width: 690px) {

    /*header start*/

#search-bar {
display: none;
}
.container_header_accounts {
  width: 82%;
height: 100%;
margin: auto;
border: none;
}
    .new {
        grid-template-columns: calc(50% - 75px) 150px calc(50% - 75px);
        grid-template-rows: 42px 91px;
        grid-template-areas:
            "title title title"
            "menu image account";
    }

    .container_header_menu_info_parr_story,
    .container_header_menu_info_parr_educators {
        display: none;
    }

    .container_header_image::before {
        content: none;
    }

    .container_header_image {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
    }

    .container_header_menu {
        width: 100%;
        justify-content: center;
    }

    /*header end*/

    p.product-name {
        padding-right: 48px;
        padding-left: 8px
    }


    .total-selling-price {
        display: none !important;
    }

    .order-summary {
        display: none;
    }

    .panel {
        display: none;
    }

    .summary-template-holder {
        padding: 8px 20px;
        margin-bottom: 20px;
    }

    .accordion-button-box {
        display: flex;
        align-items: center;
    }

    .container.container-cart {
        margin: 0;
        width: auto !important;
    }

    .heading,
    .cart-template-holder {
        padding: 0px 20px;
    }
}

@media (min-width: 691px) {
    .table.cart-items td.product-image img {
        width: 90px !important;
        height: 90px !important;
        display: inline !important;
    }

    i.item-remove-ico {
        display: none;
    }

    span.item-remove-text {
        display: block !important;
        color: #2196f3;
        text-decoration: underline;
        text-transform: capitalize;
        font-size: 13px;
        margin-top: 8px;
    }

    .table.cart-items tbody tr td.product-name {
        width: calc(100% - 365px) !important;
    }

    .summary-template-holder {
        margin-top: -24px;
        padding: 0;

    }

    .panel {
        display: block;
    }

    .accordion-button-box {
        display: none;
    }

    .container.container-cart {
        margin: 0;
        width: auto !important;
    }

    .heading,
    .cart-template-holder {
        padding: 0px 20px;
    }
}

@media (min-width: 1000px) {
    .container.container-cart {
        margin: auto;
        max-width: 100% !important;
    }

    .body-cart-vertical .cart-template-holder {
        width: calc(70% - 40px) !important;
    }
}

@media (min-width: 1342px) {
    .price.pull-right {
        margin-left: 0 !important;
    }
}

.table.cart-items tbody tr td.item-remove {
    margin-left: -70px;
}

td.product-image a {
    margin-right: 0 !important;
}

table.cart-items td.product-image a {
    display: inline !important;
}

.table.cart-items tbody tr td.product-price {
    width: auto !important
}

td.items {
    width: calc(100% - 235px) !important;
}

td.unit-price {
    order: 2;
    text-align: center;
    font-size: 15px;
}

th.unit-price {
    order: 24;
    text-align: center;
}

td.quantity {
    height: 32px;
}

span.new-product-price {
    font-size: 15px;
    font-weight: 400;
}

i.icon-minus-sign {
    display: none !important;
}

i.icon-plus-sign {
    display: none !important;
}

input#item-quantity-2 {
    min-width: 80px;
}

del.old-product-price {
    display: none;
}

.full-cart .item-quantity-change {
    width: auto !important;
}

.cart-more-options {
    display: none !important;
}

/* Checkout button */

.summary-template-holder {
    background-color: #f5f6f7;
}

.order-summary {
    font-size: 22px !important;
    font-weight: 100 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.coupon.summary-coupon.pull-right {
    display: block !important;
    border: 1px solid #dbdbdb;
    background: #ffffff;
}

.forms.coupon-column.summary-coupon-wrap {
    display: none;
}

input.coupon-value {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent;
}

button#cart-coupon-add {
    border: 2px solid #000000;
    color: #000000;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 700;
    width: 80px;
    height: 32px;
    line-height: normal;
    margin: 4px;
}

.btn-success {
    background-color: #fe8c33;
    border-color: #fe8c33;
}

.monetary,
.tax-number {
    color: #000000 !important;
    font-size: 15px !important;
}

.info,
.discount,
.tax {
    color: #757D81;
    font-weight: 700;
    font-size: 15px !important;
}

.discount-row {
    align-items: center;
    padding: 24px 0px;
}

.totalizers-list {
    padding-top: 24px;
}

.accordion {
    display: flex;
    background-color: #f5f6f7;
    color: #444;
    cursor: pointer;
    padding: 18px 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
    margin-bottom: 0px !important;
    font-family: 'Avenir', sans-serif;
}

#cart-to-orderform:hover {
    background-color: #ffac6c;
    border: #ffac6c;
}

.panel {
    padding: 0 18px;
    background-color: #f5f6f7;
    overflow: hidden;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 8px;
    margin-bottom: 2px;
}

.arrow.down {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.shipping-calculate {
    display: none !important;
}

.total-amount-text {
    width: 90px;
    text-align: end;
    font-size: 15px;
    font-weight: 700;
}

.totalizers.summary-totalizers.cart-totalizers {
    display: none;
}

.accordion-box {
    padding: 0px 20px;
}

.quote-modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 24px 20px 40px 20px;
    width: 80%;
}

.close-icon::before {
    color: #757d83;
    float: left;
    content: '\00d7';
    font-size: 28px;
}

.close-icon:hover,
.close-icon:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.quote-button {
    padding: 10px 0px;
    border: none;
    text-decoration: underline;
    color: #2196f3;
    cursor: pointer;
    background-color: #fff;
    font-size: 15px;
}

.quote-button:hover,
.quote-button:focus {
    font-weight: bold;
}

.cart-links-bottom {
    display: flex;
    flex-direction: column;
}

.modal-text {
    padding-left: 32px;
    font-size: 16px;
}

.footer--checkout {
    padding: 56px 0 32px;
    color: #ffffff;
    background-color: #757d83;
}

.content-wrapper {
    margin: 0 auto;
    padding: 0 8px;
    box-sizing: content-box;
}

.order-help-menu {
    margin-bottom: 16px;
    text-align: center;
    font-size: 10px;
}

.order-help-menu>li {
    display: inline-block;
    margin: 0 40px;
}

.order-help-menu__item a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.footer__logo {
    text-align: center;
}

.footer__logo-border {
    display: inline-block;
    position: relative;
    margin: 0;
    padding-right: 16px;
    padding-left: 16px;
}

.footer__cosmo-logo {
    height: 175px;
}

.footer__logo-border:before {
    right: 96%;
    width: 362px;
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
}

.footer__logo-border:after {
    display: block;
    left: 96%;
    width: 362px;
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
}

.grid {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -16px;
    font-size: 0rem;
}

.grid__cell {
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    padding-left: 16px;
    margin: 0;
}

.grid__cell--50-at-medium {
    width: 50%;
}

.grid--middle>.grid__cell {
    vertical-align: middle;
}

.footer--checkout .footer__bottom-copyright {
    margin-top: -55px;
    font-size: 10px;
    text-align: right;
}

/** HEADER **/

.checkout-header__logo {
    max-width: 160px;
    margin: 12px 0px;
}

.container {
    max-width: 1360px !important;
}

.checkout-header__spacer {
    height: 14px;
    background-color: #f5f6f7;
    box-shadow: inset 0 2px 3px 0 rgb(0 0 0 / 9%);
}

/** EMAIL **/
.accordion-heading {
    font-size: 2.6rem !important;
    font-family: 'Avenir', sans-serif;
}

.account-login-text {
    font-size: 28px !important;
    font-weight: 100 !important;
}

.login-link {
    font-size: 16px;
    text-decoration: underline;
}

.login-box {
    margin-bottom: 40px;
    padding-bottom: 24px;
    border-bottom: 1px solid #dbdbdb;
}

/* Order summary box */

.cart-template.mini-cart {
    background-color: #f5f6f7 !important;
    height: 100vh;
}

.custom-cart-template-wrap {
    background-color: #f5f6f7 !important;
}

.container-order-form {
    margin-right: 0;
}

.shipping-date {
    display: none !important;
}

.mini-cart .description {
    display: block !important;
}

.fn.product-name {
    white-space: inherit !important;
    text-overflow: initial !important;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    line-height: 17px !important;
}

.price.pull-right {
    float: left;
    margin-left: 50px;
    font-size: 16px;
    margin-top: 6px;
}

.totalizers.summary-totalizers.cart-totalizers {
    display: block !important;
}

.totalizers-list tr {
    padding: 20px 0px
}

.orderform-template .cart-template.mini-cart .summary-totalizers tbody.shipping-calculate {
    display: block !important;
    padding: 20px 0;
}

/* Accordion headers */

.orderform-template-holder #payment-data .accordion-toggle,
.orderform-template-holder #shipping-data .accordion-toggle,
.orderform-template-holder #client-profile-data .step.client-profile-data .accordion-toggle {
    font-weight: 100 !important;
    font-size: 28px !important;
}

/* Submit button */

.orderform-template-holder .step .submit.btn.btn-success {
    color: #ffffff;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: #2196f3;
    border: 2px solid #2196f3;
    border-radius: 100rem;
    cursor: pointer;
    margin: 0;
}

/* Form */

.orderform-template-holder .step .input.text label {
    font-weight: 700;
    font-size: 15px;
}

/* Progress bar */

@media screen and (min-width: 760px) {
    .checkout-content__progress {
        margin-right: 8px;
        height: 64px;
    }

    .progress--checkout {
        max-width: 450px;
    }

    .progress-bar {
        line-height: 1;
    }
}


@media screen and (min-width: 960px) {
    .progress__step-number {
        display: inline-block;
    }
}

.progress__step--active .progress__node {
    background: #ffffff;
}

.checkout-content__progress {
    margin: 40px 0;
}

.progress__step:first-child {
    padding-left: 0;
}

.progress__step--active {
    color: #2196f3;
}

.progress__step {
    -webkit-box-flex: 1;
    flex: 1;
    position: relative;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.progress__step {
    text-align: center;
}

.progress__link {
    display: block;
    color: #757d83;
    font-weight: inherit;
    line-height: 1;
    text-decoration: none;
}

.progress-bar {
    box-sizing: content-box;
    display: flex;
    position: relative;
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-weight: 600;
}

.progress-bar:before {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% + 23px);
    left: 0;
    height: 6px;
    width: 100%;
    background: #f5f6f7;
    transform: translateY(-50%);
    border-radius: 3px;
}

.progress__step:first-child:after {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.progress__step--active:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% + 23px);
    left: 0;
    height: 6px;
    width: 50%;
    background: #2196f3;
    transform: translateY(-50%);
}

.container_header_menu_depts {
    grid-area: menu;
    width: 100%;
    font-size: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.progress__step:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% + 23px);
    left: 0;
    height: 6px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.full:after {
    width: 100%;
}

.progress__step--active .progress__node {
    display: block;
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    width: 24px;
    height: 24px;
    background: #2196f3;
    border: 4px solid #2196f3;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    transform: translateX(-50%);
    z-index: 1;
}

.progress__step.inactive .progress__node {
    display: none !important;
}

.progress__step::after.inactive {
    display: none !important;
}

.progress__step-name,
.progress__step-number {
    font-size: 12px;
}



.progress__step:first-child:after {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.progress__step--active .progress__node {
    background: #ffffff;
}

.progress__step--active~.progress__step {
    color: rgba(117, 125, 131, 0.5);
}

.progress__step:last-child {
    padding-right: 0;
}

.btn-go-to-payment {
    margin-top: 16px;
}

#payment-data-submit {
    background-color: #2196f3;
    border-color: #2196f3;
}

#payment-data-submit:hover {
    background-color: #1a76c2;
}

.srp-summary-result.hide {
    display: none !important;
}

.summary-template-holder tr.Discounts {
    display: none !important;
}

.orderform-template .cart-template.mini-cart .summary-template-holder .summary>.summary-coupon-wrap {
    display: none !important;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tbody.shipping-calculate {
    display: none !important;
}

.orderform-template-holder .step .submit.btn.btn-success {
    margin-top: 16px !important;
}

.svg-icon--white .progress__complete-icon {
    fill: white;
}

.check-background {
    background-color: #2196f3;
    border-radius: 50px;
    margin-top: -1px;
}

.orderform-template-holder .step.client-profile-data .client-document {
    display: none;
}

.document-box {
    display: none;
}