.cart_link {
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 760px) {
        padding: 0;
        width: 54px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    svg {
        width: 28px;
        height: 21px;
        fill: #fe8c33;
        @media (max-width: 760px) {
            width: 36.4px;
            height: 27.3px;
          }
    }
}

.header__cart-count {
    position: absolute;
    margin-left: 4px;
    color: #fe8c33;
    font-size: 14px;
    font-weight: 700;
    bottom: 26px;
    left: 43px;
    margin-right: -6px;
}