

.menu-mobile-hanburguer {
    background-color: #fff;
    border: none;
    position: relative;
    padding: 16px;

    .header__utilities-item-arrow{
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: 5px;
      height: 9px;
      border-right: 6px solid rgba(0,0,0,0);
      border-bottom: 8px solid #2196f3;
      border-left: 6px solid rgba(0,0,0,0);
      top: 36px;
      @media (max-width: 760px) {
        top: 52px;
      }
    }
  }

  .svg-icon {
    &.svg-icon--header-search {
      background-color: #fff;
      fill: #2196f3;
      width: 20px;
      height: 20px;
      @media (max-width: 760px) {
        width: 27.3px;
        height: 28.6px;
      }
    }
  }
  .header-search {
    position: absolute;
    padding: 32px 0;
    background: #2196f3;
    top: 98px;
    z-index: 7;
    left: 0;
    width: 100%;
    @media (max-width: 760px){
      top: 133px;
    }
    .header-search__form{
        margin: 0 auto;
    width: 90%;
    max-width: 1160px;
    }
    .header-search__input {
        display: block;
        margin: 0 auto;
        width: 100%;
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        background: transparent;
        border: 0;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        border-radius: 0;
        outline: 0;
        height: 39px;
        @media (max-width: 760px){
          height: 45px;
        }
        &::placeholder{
            color: #fff;
        }
    }
  }

