.container-menu {
    padding: 0;
    margin: 0;
    list-style: none;

    &__departaments {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        background: #fff;

        &__categories {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            width: 100%;
            height: 100vh;
            background: #fff;

            &__subcategories {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
                width: 100%;
                height: 100vh;
                background: #fff;
            }
        }
    }
}

.item-mobile{
    border-top: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
    list-style: none;
    &__link {
        background-color: #fff;
        display: block;
        padding: 12px 24px;
        color: #000;
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
        text-decoration: none;
        width: 100%; 
    }
    &__button {
        width: 54px;
        height: 54px;
        border: none;
        border-left: 1px solid #dbdbdb;
        background-color: #fff;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.175 477.175' class='svg-icon svg-icon--arrow-right'%3E%3Cpath d='M360.731 229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1 0s-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8.1-19z'%3E%3C/path%3E%3C/svg%3E");
    }
}

.accordion__content {
    overflow: auto;
    background-color: #fff;
    transition: opacity 1.5s ease-in-out;
    position: absolute;
    height: 100vh;
    z-index: 1;
    top: 0;
    width: 100%;
}

.fadeOut{
    opacity:0;
    transition: max-height 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn{
    opacity:1;
    transition: max-height 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
  
  
.header-back {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  
    &__title {
      font-family: 'Poppins', sans-serif;
      font-size: 17px !important;
      font-weight: 700 !important;
      text-transform: uppercase;
      margin-top: 0 !important;
      color: #000 !important;
    }
    &__button {
      display: flex;
      align-items: center;
      font-size: 14px;
      background-color: #fff;
      border: none;
      &__label {
        color: #2196f3;
        font-weight: 700;
        text-transform: uppercase;
        vertical-align: middle;
        margin-left: 2px;
        margin-bottom: 0;
      }
    }
  }